html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,img{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*{outline:none;padding:0;margin:0}*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/*******/
@font-face {font-family: 'FontAwesome';src: url('../../../fonts/fontawesome-webfont.eot?v=4.7.0');src: url('../../../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../../../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight: normal;font-style: normal;}

a {color:#e60e17;-webkit-transition: color 0.4s  ease-out;-moz-transition: color 0.4s  ease-out;-ms-transition: color 0.4s  ease-out;-o-transition: color 0.4s  ease-out;transition: color 0.4s  ease-out;}
a ,a:hover a:focus ,a:active {text-decoration:none!important;outline:none;color:#333;}
a:hover , a:focus ,a:active ,a:not([href]):not([tabindex]):hover {color:#056a6a;}
a {color:#3b778c}
.trans {-webkit-transition: all 0.4s  ease-out;-moz-transition: all 0.4s  ease-out;-ms-transition: all 0.4s  ease-out;-o-transition: all 0.4s  ease-out;transition: all 0.4s  ease-out;}
h1,h2,h3,h4,h5,h6 {}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {float: right!important;}
.container-fluid, .container {direction:rtl;text-align:right;}
.fa {display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.fa-phone:before {content: "\f095";}
.fa-angle-up:before {content: "\f106";}
.fa-user-o:before {content: "\f2c0";}
/***/
h2 {font-weight: 900;}
@font-face {
    font-family: 'iransans';
    font-display: auto;
    src: url('../fonts/iransans/IRANSansWeb(FaNum).eot?#') format('eot'),
    url('../fonts/iransans/IRANSansWeb(FaNum).ttf') format('truetype'),
    url('../fonts/iransans/IRANSansWeb(FaNum).woff2') format('woff2'),
    url('../fonts/iransans/IRANSansWeb(FaNum).woff') format('woff');
}
@font-face {
    font-family: 'iransansbold';
    font-display: auto;
    src: url('../fonts/iransans/eot/IRANSansWeb_Bold.eot?#') format('eot'),
    url('../fonts/iransans/ttf/IRANSansWeb_Bold.ttf') format('truetype'),
    url('../fonts/iransans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
    url('../fonts/iransans/woff/IRANSansWeb_Bold.woff') format('woff');
}
strong {font-weight:900;font-size:1.3em}
/*****/
body {color: #000;font-size:1em;font-family: iransans;font-weight: 300;overflow-x:hidden;background:#fff;line-height:25px}
/******/
ul {
    list-style: none; padding: 0px; margin: 0px;
}
a, span, i {
    display: inline-block;
}
a {
    text-decoration: none !important;
}
button, a,
textarea, input,
.select2-search__field {
    outline: none !important;
}
.form-group {
    margin-bottom: 20px;
}
.btn.btn-green,
.btn.btn-white,
.btn.btn-blue,
.btn.btn-gray {
    height: 41px; border-radius: 5px;
}
.btn.btn-green {
    width: 225px; background: #15C5A1 0% 0% no-repeat padding-box;
    color: var(--white);
}
